<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite" parallel="methods">
    <test thread-count="5" name="MyProject">
        <classes>
            <class name="test.LoginToRahulShetty"/>
        </classes>
    </test> <!-- MyProject -->
</suite> <!-- Default Suite -->